<%- include('partials/header') %>
<main>
    <h2>Our Services</h2>
    <ul>
        <li>Wedding Planning</li>
        <li>Corporate Events</li>
        <li>Birthday Parties</li>
        <li>Concert Management</li>
    </ul>
</main>
<%- include('partials/footer') %>
